<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.noplugins.keepfit.coachplatform">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.autofocus"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.RESTART_PACKAGES"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.Manifest.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/> <!-- 拨打电话所用权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/> <!-- 添加角标权限 -->
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/> <!-- Required -->
    <permission
            android:name="com.noplugins.keepfit.coachplatform.permission.JPUSH_MESSAGE"
            android:protectionLevel="signature"/> <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="com.noplugins.keepfit.coachplatform.permission.JPUSH_MESSAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/> <!-- 高德定位权限 -->
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/> <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/> <!-- 用于获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/> <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/> <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET"/> <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/> <!-- 用于写入缓存数据到扩展存储卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/> <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/> <!-- 微信支付权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> <!-- 支付宝 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
            android:name=".base.MyApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:usesCleartextTraffic="true"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity.info.SettingActivity">
        </activity>
        <activity android:name=".activity.info.VerificationPhoneActivity">
        </activity>
        <activity android:name=".activity.info.UpdatePhoneActivity">
        </activity>
        <activity android:name=".activity.info.SettingPwdActivity">
        </activity>
        <activity android:name=".activity.info.AccountSecurityActivity">

        </activity>
        <activity android:name=".activity.info.InformationActivity">

        </activity>

        <activity android:name=".activity.manager.ChaungguanDetailActivity">
        </activity>
        <activity android:name=".activity.manager.ClassShouquanActivity">
        </activity>
        <activity android:name=".activity.WriteDailryActivity">

        </activity>
        <activity android:name=".activity.ClassDetailActivity">
        </activity>
        <activity android:name=".activity.TeacherTimeActivity">
        </activity>
        <activity android:name=".activity.YueKeInformationActivity">

        </activity>
        <activity android:name=".activity.manager.TeacherInfoActivity">
        </activity>
        <activity android:name=".activity.manager.TeacherAddOrEditActivity">
        </activity>
        <activity android:name=".activity.AddZhengshuActivity">
        </activity>
        <activity android:name=".activity.CheckStatusActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.ClassManagerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.SetPasswordActivity">
        </activity>
        <activity android:name=".activity.TuankeRoleActivity">
        </activity>
        <activity android:name=".activity.SelectRoleActivity">
        </activity>
        <activity android:name=".activity.SplashActivity">

        </activity>
        <activity android:name=".activity.WelcomeGuideActivity">
        </activity>
        <activity
                android:name=".MainActivity"
                android:launchMode="singleTask">

        </activity>
        <activity android:name=".activity.LoginActivity">
        </activity>

        <meta-data
                android:name="com.amap.api.v2.apikey"
                android:value="f6c5c161b7e9378879e0d7a901eb868f"/>

        <service android:name="com.amap.api.location.APSService"/> <!-- 存储权限 authorities="你的包名+fileprovider" -->
        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="com.noplugins.keepfit.coachplatform.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths_public"/>
        </provider> <!-- 极光 -->
        <!-- Required SDK 核心功能 -->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
                android:name="cn.jpush.android.service.PushService"
                android:exported="false"
                android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER"/>
                <action android:name="cn.jpush.android.intent.REPORT"/>
                <action android:name="cn.jpush.android.intent.PushService"/>
                <action android:name="cn.jpush.android.intent.PUSH_TIME"/>
            </intent-filter>
        </service> <!-- since 3.0.9 Required SDK 核心功能 -->
        <provider
                android:name="cn.jpush.android.service.DataProvider"
                android:authorities="${applicationId}.DataProvider"
                android:exported="false"
                android:process=":pushcore"/> <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
                android:name="cn.jpush.android.service.DaemonService"
                android:enabled="true"
                android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService"/>

                <category android:name="${applicationId}"/>
            </intent-filter>
        </service> <!-- since 3.1.0 Required SDK 核心功能 -->
        <provider
                android:name="cn.jpush.android.service.DownloadProvider"
                android:authorities="${applicationId}.DownloadProvider"
                android:exported="true"/> <!-- Required SDK核心功能 -->
        <receiver
                android:name="cn.jpush.android.service.PushReceiver"
                android:enabled="true"
                android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY"/> <!-- Required  显示通知栏 -->
                <category android:name="${applicationId}"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver> <!-- Required SDK核心功能 -->
        <receiver
                android:name="cn.jpush.android.service.AlarmReceiver"
                android:exported="false"/> <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <receiver
                android:name=".jpush.MyReceiver"
                android:enabled="true"
                android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION"/> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED"/> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED"/> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED"/> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION"/> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.noplugins.keepfit.coachplatform"/>
            </intent-filter>
        </receiver> <!-- User defined.  For test only  用户自定义接收消息器,3.0.7开始支持,目前新tag/alias接口设置结果会在该广播接收器对应的方法中回调 -->
        <!-- since 3.3.0 接收JPush相关事件 -->
        <receiver android:name=".jpush.PushMessageReceiver">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE"/>

                <category android:name="com.noplugins.keepfit.coachplatform"/>
            </intent-filter>
        </receiver> <!-- since 3.3.0 Required SDK 核心功能 -->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <!-- User defined.  For test only 继承自cn.jpush.android.service.JCommonService -->
        <service
                android:name=".jpush.PushService"
                android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action"/>
            </intent-filter>
        </service> <!-- Required SDK核心功能 -->
        <activity
                android:name="cn.jpush.android.ui.PushActivity"
                android:configChanges="orientation|keyboardHidden"
                android:exported="false"
                android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="com.noplugins.keepfit.coachplatform"/>
            </intent-filter>
        </activity> <!-- since 3.3.0 Required SDK核心功能 -->
        <activity
                android:name="cn.jpush.android.service.JNotifyActivity"
                android:exported="true"
                android:taskAffinity="jpush.custom"
                android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.JNotifyActivity"/>

                <category android:name="com.noplugins.keepfit.coachplatform"/>
            </intent-filter>
        </activity> <!-- Rich push 核心功能 since 2.0.6 -->
        <activity
                android:name="cn.jpush.android.ui.PopWinActivity"
                android:exported="false"
                android:theme="@style/MyDialogStyle"/>
        <activity android:name=".activity.manager.TeamInfoActivity"/>

        <meta-data
                android:name="JPUSH_CHANNEL"
                android:value="default_developer"/>
        <meta-data
                android:name="JPUSH_APPKEY"
                android:value="d13f71671f41e575cc2d39df"/>
    </application>

</manifest>